<section class="intro">
 <%= render partial: 'application/navbar', locals: {back: false}%>
	<div class="slider animated fadeIn">
			<div class="slider-overlay">
				<a href="/" class="logo animated flipInY">
					<div class="rest">ресторан-пивоварня</div>
				</a>
	         <div class="zal">
	         	<div class="zal-box">
		    		<a href="/pages/dorado" class="dorado"></a>
		    		<a href="/pages/bavaria" class="bavaria"></a>
		    	</div>
	    	</div>
			</div>
            <ul class="slidewrapper">
                <li class="slide" style="background-image:url('/assets/slide1.jpg')"></li>
				<li class="slide" style="background-image:url('/assets/slide1.jpg')"></li>
				<li class="slide" style="background-image:url('/assets/slide1.jpg')"></li>
				<li class="slide" style="background-image:url('/assets/slide1.jpg')"></li>
            </ul>
            <div class="prev-next-btns">
                <div class="prev-btn"></div>
                <div class="next-btn"></div>
            </div>
    </div>
    <div class="welcome">
    	<h1 class="animated fadeInDown"><div class="up">Welcome</div>Добро пожаловать в Хмельхаус!</h1>
    	<a href="/" class="button">Забронировать столик</a>
    	 <%= render partial: 'application/footer', locals: {var1:"123", var2:"123"}%>
    </div>
</section>