<section class="news">
<%= render partial: 'application/navbar', locals: {back: false}%>
<%= render partial: 'application/header', locals: {h1:"Забронировать столик", h1up:"Reservation"}%>
<div class="content">
	<div class="text">
		<p class="center">Заполните форму ниже, мы Вам перезвоним</p>
		<%= render 'form', reservation: @reservation %>
	</div>
</div>

<%= render partial: 'application/footer', locals: {var1:"123", var2:"123"}%>
