<div class="header">
  <div class="slider">
      <div class="slider-overlay">
        <a href="/" class="logo animated flipInY">
        </a>
        <h1 class="animated fadeInUp"><div class="up"><%= h1up %></div><%= h1 %></h1>
      </div>
      <ul class="slidewrapper"> 
        <%if defined?(image_url)=="local-variable"%>
        <li class="slide" style="background-image:url('<%= image_url%>)"></li>
        <%else%>
        <li class="slide" style="background-image:url('/assets/slide1.jpg')"></li>
        <%end%>
      </ul>
  </div>
</div>