<section class="newsiteam">
 <%= render partial: 'application/navbar', locals: {back: true, back_url: '/'} %>
 <%= render partial: 'application/header', locals: {h1:'Отзыв отправлен', h1up:"Review"}%>
<div class="content">
<div class="text">
    
    <p class="center">
      <p id="notice"><%= notice %></p>
    </p>

    <%= render partial: 'application/footer', locals: {var1:"123", var2:"123"}%>
</section>