<!DOCTYPE html>
<html>
  <head>
    <title>«Хмель Хаус» || Ресторан пивоварня || Hmel Haus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="yandex-verification" content="8e89eeb47c58f95e" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="sections animated fadeIn">
      <%= yield %>
    </div>
  </body>
</html>